body {
    font-family: sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header {
    background: #128a12;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 30px;
    display: flex;
    align-items: center;
}

header p {
    flex: 1;
    margin-bottom: 0;
}

header ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

.container-custom {
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-custom > * {
    margin-right: 20px;
}

.player {
    font-size: 30px;
}

.actions {
    text-align: center;
}

.strategies > *:not(:last-child) {
    margin-right: 10px;
}

td {
    transition: all .2s;
}